* {
    font-family: "Prompt", sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    color: #272e3b;
}

.v-application {
    font-family: inherit;
    overflow-x: hidden;
}

/* Hero Section ---------------------------------- */

.hero-banner {
    background: linear-gradient(
        180deg,
        #294460 0%,
        #294561 6.67%,
        #2b4864 13.33%,
        #2d4e69 20%,
        #315771 26.67%,
        #35617a 33.33%,
        #3b6e85 40%,
        #407c92 46.67%,
        #478a9e 53.33%,
        #4c98ab 60%,
        #52a5b6 66.67%,
        #56afbf 73.33%,
        #5ab8c7 80%,
        #5cbecc 86.67%,
        #5ec1cf 93.33%,
        #5ec2d0 100%
    );
    padding-top: 160px;
}
.main-heading {
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;
}
.sub-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}
.secondary-clr {
    color: #acebec !important;
}
.hero-banner .main-img {
    margin-top: 60px;
}
.hero-banner .main-img:before {
    content: "";
    position: absolute;
    top: -72px;
    left: -48px;
    width: 164px;
    height: 164px;
    background-image: url(../assets/images/element3.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.hero-banner .main-img:after {
    content: "";
    position: absolute;
    top: -96px;
    right: -96px;
    width: 164px;
    height: 456px;
    background-image: url(../assets/images/union1.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-btns {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}
.main-btns button {
    padding: 24px !important;
    margin: 0 6px;
    color: #5ec2d0;
    text-transform: inherit;
}
.transparent-btn {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent !important;
    color: #ffffff !important;
}

/* All Solutions ---------------------------------- */
.all-solutions {
    padding: 64px 0;
    background-color: #f7f8fa;
}
.all-solutions h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
}
.sols-box-wrap {
    margin-top: 30px;
}
.sols-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0px 24px;
    position: relative;
}
.sols-box:after {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #6b7785;
    border-right: 1px solid #6b7785;
    transform: rotate(-45deg) translateY(-50%);
}
.all-solutions .show-more-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #6b7785;
    position: relative;
    padding: 6px 24px 6px 9px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-top: 36px;
}
.all-solutions .show-more-btn:after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #6b7785;
    border-left: 2px solid #6b7785;
    transform: rotate(-45deg);
}

/* Try Yoov -------------------------------- */
.try-yoov {
    padding: 84px 0;
    background-color: #5ec2d0;
    position: relative;
}
.try-yoov:before {
    content: "";
    background-image: url(../assets/images/element22.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 144px;
}
.try-yoov:after {
    content: "";
    background-image: url(../assets/images/element11.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 10%;
    right: 144px;
}
.try-yoov h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}
.try-yoov p {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #ffffff;
}
.try-yoov button {
    margin: 0 auto;
    display: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}

/* Solution Tabs ------------------------------ */
.solution-tabs {
    padding: 120px 0;
}
.solution-tabs h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #272e3b;
    margin-bottom: 16px;
}
.solution-tabs p {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #4e5969;
}
.solution-tabs .tabs-wrap {
    background-color: #f7f8fa;
    border-radius: 30px;
    padding: 6px;
    overflow: visible;
    width: 50%;
    margin: 0 auto 48px;
}
.tabs-wrap .v-tabs-slider {
    background-color: #ffffff !important;
    border-radius: 99px !important;
    border: 1px solid #f5f5f5;
}
.tabs-wrap .v-tabs-slider-wrapper {
    height: 48px !important;
    z-index: 0;
    text-transform: inherit;
}
.tabs-wrap .v-tab:before {
    border-radius: 50px;
    background-color: transparent;
}
.tabs-wrap .v-ripple__container {
    border-radius: 50px;
    opacity: 0;
}
.v-tabs--grow > .v-tabs-bar .v-tab {
    text-transform: inherit;
    color: #294460;
}

.home-component h2 {
    margin-bottom: 12px;
    z-index: 1;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.home-component p {
    text-align: left;
    margin-bottom: 0;
}
.home-component p.subhead {
    font-weight: 600;
}
.home-component svg {
    position: absolute;
    z-index: 0;
    left: -10px;
    top: -6px;
}
.home-component .main-img {
    width: 100%;
    position: relative;
    z-index: 1;
}
.position-relative {
    position: relative;
}

/* Testimonials ---------------------------- */
.testimonials {
    padding: 120px 0;
    background-color: #f7f8fa;
}
.testimonials h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #272e3b;
}
.testimonials .story-slider span {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}
.testimonials .story-slider h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
}
.testimonials .story-slider {
    padding: 16px 48px;
    background-color: #ffffff;
    background-image: url(../assets/images/union.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    border-radius: 6px;
    height: 100%;
}
.margin-left-auto {
    margin-left: auto;
}
.slick-track {
    display: flex !important;
    height: 100% !important;
}
.slick-slider,
.slick-list,
.slick-slide,
.slick-slide > div {
    height: 100% !important;
}
.slick-slide {
    margin: 0 16px;
}
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    z-index: 1;
}
.slick-arrow.slick-prev {
    left: -20px;
}
.slick-arrow.slick-next {
    right: 15px;
}
.slick-prev:before,
.slick-next:before {
    content: "";
    position: absolute;
    right: calc(50% - 6px);
    top: calc(50% - 4px);
    width: 9px;
    height: 9px;
    border-bottom: 1px solid #6b7785;
    border-left: 1px solid #6b7785;
    transform: rotate(45deg);
}
.slick-next:before {
    right: calc(50% - 4px);
    transform: rotate(225deg);
}
.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    background: #ffffff;
}

.testimonials .view-more {
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #6b7785;
    position: relative;
    padding: 6px 24px 6px 9px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-top: 36px;
}
.testimonials .view-more:after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 5px);
    width: 9px;
    height: 9px;
    border-bottom: 1px solid #6b7785;
    border-left: 1px solid #6b7785;
    transform: rotate(225deg);
}
.testimonials .view-more:before {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 1px);
    width: 12px;
    height: 1px;
    background-color: #6b7785;
}

/* Home Componenets */
.sub-comp {
    padding: 96px 0;
}
.home-component {
    margin-bottom: 48px;
}
.home-component:last-child {
    margin-bottom: 0px;
}
.img-holder {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-holder img {
    width: 100%;
}
.usp-1 .img-holder:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 240px;
    background-image: url(../assets/images/Triangle-top-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.usp-2 .img-holder:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 240px;
    height: 240px;
    background-image: url(../assets/images/Ellipse-bottom-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.usp-3 .img-holder:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 240px;
    background-image: url(../assets/images/Triangle-bottom-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.float-icon {
    position: absolute !important;
    box-shadow: 0px 0px 16px #00000015;
    border-radius: 24px;
    z-index: 2;
}
.float-icon.top {
    top: 25%;
    width: 80px;
    height: 80px;
}
.float-icon.top.right {
    right: 48px;
}
.float-icon.bottom.right {
    right: -24px;
}
.float-icon.bottom {
    bottom: 25%;
    width: 96px;
    height: 96px;
}
.float-icon.top.left {
    left: 48px;
}
.float-icon.bottom.left {
    left: -24px;
}
.p-left {
    padding-left: 64px;
}
.p-right {
    padding-right: 64px;
}

/* Clients ----------------------------- */
.clients {
    padding: 120px 0 64px;
    background-color: #f7f8fa;
}
.clients h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #272e3b;
    margin-bottom: 16px;
}
.clients p {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #4e5969;
}
.clients .client-img {
    margin-bottom: 60px;
}
.clients .awards {
    width: 80%;
    margin: 0 auto -148px;
    height: 148px;
    background: #ffffff;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1),
        0px 0px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Contact Sales */
.contact-sales {
    background-color: #ffffff;
    padding: 194px 0 120px;
}
.contact-sales:before {
    background-image: url(../assets/images/element2.png);
    top: auto;
    bottom: 15%;
}
.contact-sales:after {
    background-image: url(../assets/images/element1.png);
    top: 22%;
    bottom: auto;
}
.contact-sales h1 {
    color: #294460;
}
.contact-sales p {
    color: #294460;
}

.container {
    max-width: calc(100% - 144px) !important;
    margin: 0 auto;
}

.clients-mobile {
    display: none;
}
.clients-desktop {
    display: block;
}

.resp-link a {
    color: #272e3b !important;
    text-decoration: none;
}

/* About -------------------------------------------------- */
.timeline {
    padding: 64px 0;
}
.timeline .sub-heading {
    left: 50%;
    transform: translateX(-50%);
}
.timeline .container {
    z-index: 1;
}
.about .grey2 .w-80 {
    padding-right: 10%;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
}
.about .grey2 {
    background-color: #f7f8fa;
}
.about .timeline {
    background-color: #ffffff;
}
.timeline .margin-top {
    margin-top: 64px;
    margin-bottom: 48px;
}
.timeline .theme--light.v-timeline .v-timeline-item__dot {
    background: #5ec2d0;
}
.timeline .v-timeline-item__dot--small .v-timeline-item__inner-dot {
    height: 8px;
    margin: 3px;
    width: 8px;
    background-color: #ffffff !important;
}
.timeline .v-timeline-item__dot--small {
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline .v-timeline:before {
    display: none;
}
.timeline .v-timeline .year {
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 160%;
    color: #4e5969;
    margin-bottom: 0 !important;
}
.timeline .v-timeline-item {
    padding-bottom: 84px;
}
.timeline .v-application .headline {
    color: #5ec2d0;
}
.timeline .v-timeline .details {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #272e3b;
}
.timeline .v-timeline .details.more {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #5d6980;
}

.timeline .v-timeline .event:not(:first-child) {
    margin-top: 16px;
}
.timeline
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
    .v-timeline-item:nth-child(even):not(.v-timeline-item--after)
    .v-timeline-item__body,
.v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
    .v-timeline-item--before
    .v-timeline-item__body {
    text-align: right;
}
.timeline .v-timeline-item__opposite {
    align-self: flex-start;
}
.timeline .v-timeline-item {
    align-items: flex-start;
}
.timeline .awards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.timeline .awards .wrap {
    border: 1px solid #cccccc;
    border-radius: 6px;
    overflow: hidden;
    padding: 8px 4px;
    width: calc((100% / 3) - 30px);
}
.timeline .awards .img {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline .awards .text {
    text-align: center;
    margin: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #6b7785;
}
.banner .container {
    z-index: 1;
}

/* Open Platform */
.provider .tabs-wrap {
    background-color: #f7f8fa;
    border-radius: 30px;
    padding: 6px;
    overflow: visible;
    width: 100%;
    margin: 0 auto 48px;
}
.provider .tabs-wrap .v-tabs-slider {
    background-color: #ffffff !important;
    border-radius: 99px !important;
    border: 1px solid #f5f5f5;
}
.provider .tab-item-wrap h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #272e3b;
}
.provider .tab-item-wrap p {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4e5969;
    margin-top: 18px;
}

.provider .text-center {
    text-align: center;
}

/* Try Yoov -------------------------------- */
.learn {
    padding-bottom: 64px;
}
.learnmore {
    padding: 72px 0;
    background-color: #e8fffe;
    position: relative;
}
.learnmore:before {
    content: "";
    background-image: url(../assets/images/element2.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.learnmore:after {
    content: "";
    background-image: url(../assets/images/element1.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: -15px;
    transform: rotate(90deg);
    z-index: 0;
}
.learnmore h1 {
    position: relative;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #0c586d;
    margin-bottom: 16px;
    z-index: 2;
}
.learnmore p {
    position: relative;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0c586d;
    z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about .banner {
        height: 480px;
    }
    .banner {
        height: 240px !important;
    }
    .container {
        max-width: calc(100% - 24px) !important;
    }
    .clients .awards {
        width: 100%;
    }
    .txt-order-1 {
        order: 1;
    }
    .img-order-2 {
        order: 2;
    }
    .hero-banner .main-img:after {
        right: 0;
    }
    .hero-banner .main-img:before {
        left: 0;
    }
    .sols-box-wrap {
        width: 100%;
        margin: 0;
    }
    .sols-box {
        margin: 0;
    }
    .float-icon.bottom.right {
        right: 0;
    }
    .float-icon.bottom.left {
        left: 0;
    }
    .margin-left-auto {
        margin-left: unset;
    }
    .about .grey2 .w-80 {
        width: 80%;
        margin: 0 auto 24px;
        padding: 0;
    }
    .about .grey2 .sub-heading {
        left: 50%;
        transform: translateX(-50%);
    }
    .about .banner .left {
        left: -200px;
        z-index: 0;
    }
    .about .banner .right {
        right: -160px;
        z-index: 0;
    }
    .timeline .awards {
        width: 100%;
    }
    .v-application .pa-16 {
        padding: 64px 15px !important;
    }
}
@media screen and (max-width: 480px) {
    /* html,
    body {
        overflow-x: hidden;
    } */
    .about .banner h1.white--text {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
    }
    .about .banner svg {
        width: 60%;
    }
    .container {
        max-width: calc(100% - 24px) !important;
    }
    .main-heading {
        width: 90%;
        margin: 0 auto 20px;
        font-size: 32px;
        line-height: 120%;
    }
    .hero-banner h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
    }
    .clients .awards {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 0 8px;
    }
    .clients .awards img {
        width: 100%;
        height: auto;
        margin: 8px 0;
    }
    .txt-order-1 {
        order: 1;
    }
    .img-order-2 {
        order: 2;
    }
    .home-component .row {
        flex-direction: column;
    }
    .sols-box-wrap {
        max-width: 100%;
        margin: 0;
    }
    .sols-box-wrap > .col {
        padding: 8px;
    }
    .sols-box {
        margin: 0;
    }
    .try-yoov:before {
        top: 8%;
        left: -16%;
    }
    .try-yoov:after {
        bottom: 8%;
        right: -16%;
    }
    .try-yoov h1,
    .solution-tabs h1 {
        font-size: 24px;
    }
    .v-slide-group.v-item-group > .v-slide-group__next,
    .v-slide-group.v-item-group > .v-slide-group__prev {
        display: none !important;
    }
    .solution-tabs .tabs-wrap {
        width: 100%;
    }
    .p-left,
    .p-right {
        padding: 0 12px;
        margin-bottom: 16px;
    }
    .clients-mobile {
        display: block;
    }
    .clients-desktop {
        display: none;
    }
    .v-timeline-item__opposite {
        display: none;
    }
    .timeline .v-timeline .event {
        width: 264px;
    }
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item:nth-child(even):not(.v-timeline-item--after),
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item--before {
        flex-direction: column-reverse;
    }
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item:nth-child(odd):not(.v-timeline-item--before),
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item--after {
        flex-direction: column-reverse;
    }
    .timeline
        .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item:nth-child(even):not(.v-timeline-item--after)
        .v-timeline-item__body,
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item--before
        .v-timeline-item__body {
        text-align: left;
        margin: -28px 0 0 48px;
    }
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item:nth-child(odd):not(.v-timeline-item--before)
        .v-timeline-item__body,
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
        .v-timeline-item--after
        .v-timeline-item__body {
        margin: -28px 0 0 48px;
    }
    .v-timeline-item__divider {
        display: unset;
    }
    .custom-header,
    .custom-header .v-toolbar__content {
        height: 56px !important;
    }
    .v-btn__content {
        font-size: 14px;
    }
    .main-btns {
        margin-top: 36px;
    }
    .hero-banner .main-img {
        margin-top: 48px;
    }
    .hero-banner .main-img:before {
        top: -28px;
        left: -20px;
        width: 64px;
        height: 64px;
    }
    .hero-banner .main-img:after {
        top: -30px;
        right: -10px;
        width: 48px;
        height: 134px;
    }
    .footer-copyright {
        flex-direction: column;
    }
    .custom-footer .v-btn:not(.v-btn--round).v-size--default {
        padding: 0 4px;
        height: 24px;
    }
    .footer-widget .footer-widget-col {
        width: 50%;
    }
    .custom-footer ul li {
        margin: 6px 0 !important;
    }
    .custom-footer ul li a {
        font-size: 10px;
        line-height: 160%;
    }
    .footer-bottom {
        margin-top: 16px;
    }
    .float-icon {
        border-radius: 16px;
    }
    .float-icon.top {
        top: 20%;
        width: 48px;
        height: 48px;
    }
    .float-icon.bottom {
        bottom: 20%;
        width: 72px;
        height: 72px;
    }
    .float-icon.bottom.right {
        right: 0px;
    }
    .contact-sales:before {
        top: auto !important;
        bottom: 16%;
    }
    .about .banner .left {
        left: -136px;
        height: 150%;
        z-index: 0;
    }
    .about .banner .right {
        right: -160px;
        height: 150%;
        z-index: 0;
    }
    .v-application .pa-16 {
        padding: 64px 0px !important;
    }
    .about .grey2 .w-80 {
        width: 100%;
        padding: 0;
    }
    .about .grey2 .row {
        flex-direction: column;
    }
    .timeline .awards {
        flex-direction: column;
        width: 100%;
    }
    .timeline .awards .wrap {
        width: 100%;
        margin: 6px 0;
    }
    .openplatform .clients .row {
        flex-direction: column;
    }
    .provider .text-center {
        text-align: left !important;
    }
    .learnmore h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
    }
    .learnmore p {
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        padding: 0 24px;
    }
}
